<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "path/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.board.mapper.BoardMapper">
  <select id="selectBoardAll" resultType="co.yedam.board.service.BoardVO">
    SELECT * FROM BOARD ORDER BY BOARD_NO
  </select>
  <select id="select" resultType="co.yedam.board.service.BoardVO" parameterType="int">
  	SELECT * FROM BOARD WHERE BOARD_NO =#{boardNo}
  </select>
  
  <update id="updateViewCnt" parameterType="int">
  	UPDATE BOARD SET VIEW_CNT = VIEW_CNT + 1 WHERE BOARD_NO =#{boardNo}
  </update>
  
  <insert id="insert" parameterType="co.yedam.board.service.BoardVO">
  	INSERT INTO BOARD VALUES (SEQ_BOARD.NEXTVAL,#{title},#{content},#{writer},SYSDATE,#{viewCnt},#{image},SYSDATE)
  </insert>
  
  <update id="update" parameterType="co.yedam.board.service.BoardVO">
  	UPDATE BOARD SET TITLE = #{title}, CONTENT = #{content}, IMAGE = nvl(#{image},image), WRITER = #{writer}, LAST_UPDATE = sysdate WHERE BOARD_NO = #{boardNo} 
  </update>
  
  <delete id="delete" parameterType="int">
  	DELETE FROM BOARD WHERE BOARD_NO = #{boardNo}
  </delete>
  
  <select id="selectMember" resultType="co.yedam.board.service.MemberVO">
  	SELECT * FROM MEMBER WHERE MID = #{id} AND PASS = #{pass}
  </select>
  
  <select id="selectMemberAll" resultType="co.yedam.board.service.MemberVO">
  	SELECT * FROM MEMBER
  </select>
</mapper>